*{
  margin:0px;
  padding:0px;
}

.container2{
  width: 80%;
  margin: auto;
  color: black;
  text-align: center;
}
.slide{
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: space-around;
  align-items: center;
}
.slideContent{
  width: 80%;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
.imgHolder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.textHolder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.price{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
.price p{
  color: black;
}








